.header__auth_btn {
  background: transparent;
  color: #A9A9A9;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration: none;
  margin-left: 24px;
  transition: opacity .2s;
}

.header__auth_btn:hover {
  cursor: pointer;
  opacity: .6;
}
